@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');
html, body {
     font-family: 'Open Sans', sans-serif;
     margin-top: 0px !important;
     margin: 0px !important;
}
 .padding-all-0 {
     padding: 0px!important;
}
 .padding-right-0 {
     padding-right: 0px;
}
 a:focus, a:hover {
     text-decoration: none;
     overflow: none;
}
 .dropdown-toggle:focus {
     outline: 0;
     text-decoration: none;
}
 .bg-swissboxing {
     background: #a50008;
}
 .navbar-swissboxing {
     background: #a50008;
     margin-bottom: 0px!important;
}
 #Desktop_Navbar, #Mobile_Navbar {
     z-index: 2;
}
/*NAVBAR MENU*/
 #Mobile_Navbar {
     margin-bottom: 0px;
     position: fixed;
     width: 100%;
}
 .menu-content {
     display: inline-flex;
     width: 100%;
}
 .menu-content .logo-header {
     width: 15%;
     float: left;
}
 .menu-content .menu-list {
     width: 85%;
     float: left;
}
 .menu-links ul {
     margin-bottom: 0px;
     padding: 2rem 0px;
}
 .menu-links li {
     list-style: none;
     display: inline-flex;
     padding: 1rem;
     text-transform: uppercase;
}
 .menu-links li a:hover {
     text-decoration: none;
}
 .menu-links li a {
     padding: 1rem 1px;
     color: white;
}
 .menu-links li.link-mehr {
     border: 1.2px solid white;
     border-radius: 36px;
     text-align: center;
     font-size: 12px;
}
 li.sub-menu-item:hover ul.sub-sub-menu {
     display: block;
     left: 2rem;
     width: 230px;
     float: left;
}
 .sub-sub-menu {
     display: none;
     position: absolute;
}
 .menu-links ul li.dropdown ul {
     background: #a50008;
     padding: 0px;
}
 .menu-links ul li.dropdown ul li {
     padding-left: 0rem;
     padding-right: 0rem;
     border-bottom: 1px solid #7070706e;
}
 .menu-links ul li.dropdown ul li a:hover {
     color: black;
}
 .menu-links ul li.dropdown ul li a {
     padding-left: .5rem;
     padding-right: .5rem;
     color: white;
     line-height: 2;
}
 .menu-links ul li.dropdown ul li, .menu-links ul li.dropdown ul li a {
     width: 100%;
}
 .dropdown-menu li {
     padding: 0px;
}
/*Mobile navbar*/
 #Mobile_Navbar {
     color: white;
     padding: 1rem 0rem;
}
 #Mobile_Navbar .navTitle h3 {
     margin-top: 12px;
     text-transform: uppercase;
}
 #hamburger-icon {
     width: 30px;
     position: relative;
     cursor: pointer;
     float: right;
     margin-top: 1.7rem;
}
 #hamburger-icon span {
     display: block;
     position: absolute;
     height: 3px;
     width: 100%;
     background: white;
     border-radius: 9px;
     opacity: 1;
     left: 0;
}
 #hamburger-icon span:nth-child(1) {
     top: 0px;
}
 #hamburger-icon span:nth-child(2) {
     top: 7px;
}
 #hamburger-icon span:nth-child(3) {
     top: 14px;
}
 .swissboxingLeftmenu {
     display: none;
     float: right;
     position: fixed;
     right: 0;
     background: #a50008;
     width: 70%;
     height: 100%;
     text-transform: uppercase;
     overflow-y: scroll;
}
 .swissboxingLeftmenu ul {
     padding: 0px;
     padding-left: 10px;
}
 .swissboxingLeftmenu ul li {
     list-style: none;
     padding: 1rem 0px;
     border-bottom: 1px solid #650707;
}
 .swissboxingLeftmenu ul li a {
     color: white;
}
 .swissboxingLeftmenu li.link-mehr-mobile {
     border: 1px solid white;
     border-radius: 36px;
     width: 4.5rem;
     height: 4.5rem;
     text-align: center;
     margin-top: 10px;
}
 .logo-header-mobile img {
     width: 9rem;
}
/*NAVBAR MENU*/
/*Content*/
 .top_slider {
     max-height: 700px;
     overflow: hidden;
}
 .top_slider .ts_item {
     width: 100%
}
/*Links Sidebar*/
 .contentLinks {
     border-right: 1px solid gray;
     margin-top: 4rem;
}
 .headerLinks {
    /*position: absolute;
     left: 0;
    */
     position: relative;
     left: -2rem;
}
 .cl-item img {
     width: 100%;
     height: 100%;
     padding: 0px 3rem;
}
 .cl-item-divider {
     background: gray;
     width: 80%;
     height: 1px;
     margin: auto;
     margin-top: 1rem;
     margin-bottom: 1rem;
}
 .hl-item {
     background: #a50008;
     color: white;
     padding: 1rem 2rem;
}
/*Links Sidebar*/
/*Home Article*/
 .hn-title {
     text-transform: uppercase;
     font-weight: bold;
     color: #a50008;
}
 .title_homepage {
     background: #a50008;
     color: white;
     padding: .9rem;
     cursor: pointer;
     -webkit-touch-callout: none;
    /* iOS Safari */
     -webkit-user-select: none;
    /* Safari */
     -khtml-user-select: none;
    /* Konqueror HTML */
     -moz-user-select: none;
    /* Firefox */
     -ms-user-select: none;
    /* Internet Explorer/Edge */
     user-select: none;
    /* Non-prefixed version, currently supported by Chrome and Opera */
}
 .title_homepage_text {
     font-size: 19px;
     margin: 0;
}
 .newsContent_text_homepage {
     font-size: 19px;
}
 .newsContent_text_homepage {
     display: none;
}
 .article_preview {
     padding-bottom: 1rem;
}
 .article_read_more {
     color: #a50008;
}
 .article_read_more:hover, .article_read_more:focus, .article_read_more:active {
     color: #a50008;
}
 .article_preview_homepage {
     margin-bottom: 1rem;
     padding-bottom: 1rem;
     border-bottom: 1px solid #a50008;
}
 .article_preview_homepage p {
     margin-bottom: 0px;
}
/*Home Article*/
/*Article*/
 .hn-title {
     text-transform: uppercase;
     font-weight: bold;
     color: #a50008;
}
 .title_article {
     background: #a50008;
     color: white;
     padding: .9rem;
     float: left;
     width: 100%;
}
 .title_article_text {
     font-size: 19px;
     margin: 0;
}
 .newsContent_text {
     font-size: 19px;
}
/*Article*/
/*Aktuelle Sidebar*/
 .headerAktuelleNews {
     background: #a50008;
     color: white;
     padding: 1rem 2rem;
     position: relative;
     top: -8px;
}
 .aktuelleNews-List ul {
     padding: 0px;
}
 .aktuelleNews-List ul li {
     list-style: none;
     padding: 1rem;
     padding-right: 2rem;
     border-left: 2px solid transparent;
     border-bottom: 1px solid #707070;
}
 .aktuelleNews-List ul li.active {
     border-left: 2px solid #a50008;
}
 .aktuelleNews-List ul li:hover {
     border-left: 2px solid #a50008;
}
 .aktuelleNews-List ul li a {
     color: black;
}
 .posters {
     border-left: 1px solid gray;
     padding-left: 3rem;
     padding-right: 2rem;
}
 .posters .posters-item {
     margin-bottom: 10px;
}
/*Aktuelle Sidebar*/
/*links mobile*/
 .contentLinks_mobile {
     display: inline-flex;
}
 .mobile_dropdown_sublink {
     display: none;
}
/*links mobile*/
/*Content*/
/*Footer*/
 .footer-content {
     background: #a50008;
     padding: 1rem 0px;
     color: white;
     float: left;
     width: 100%;
}
 .exLinks ul {
     display: inline-flex;
     padding: 0px;
}
 .exLinks ul li {
     list-style: none;
}
 .exLinks ul li a {
     color: white;
     margin-right: 1rem;
     letter-spacing: 2px;
}
/*Footer*/
 @media screen and (max-width: 990px) {
     body {
         background-image: url(../img/boxmen.jpg);
         background-position: center;
         background-size: cover;
    }
     #Desktop_Navbar {
         display: none;
    }
     #Mobile_Navbar {
         display: block;
    }
     .headerNews {
         display: none;
    }
     #links_desktop {
         display: none;
    }
     #aktuelleNews_desktop {
         display: none;
    }
     .top_slider {
         display: none;
    }
     header {
         height: 70px;
    }
     .content {
         margin: 2rem;
         background: #ffffffe8;
         height: 500px;
         overflow: scroll;
    }
     .title_article {
         display: none;
         background: transparent;
         color: #a50008;
         padding: 0;
    }
     .title_article_text {
         font-size: 17px;
         font-weight: bold;
    }
     .newsContent_text {
         font-size: 13px;
    }
     footer{
         font-size: 11px;
         position: absolute;
         bottom: 0px;
         width: 100%;
    }
}
 @media screen and (max-width: 330px) {
     footer {
         padding: 0px;
         font-size: 10px;
    }
}
 @media screen and (max-width: 390px) {
     .logo-header-mobile {
         padding: 0px;
    }
}
 @media screen and (min-width: 990px) {
     #Desktop_Navbar {
         display: block;
    }
     #Mobile_Navbar {
         display: none;
    }
     .headerNews {
         display: block;
    }
}
 .cat_name ul li {
     list-style: none;
}
 .cat_name ul li a {
     color: #a50008;
}
 .cat_name ul li a:focus, .cat_name ul li a:hover {
     text-decoration: none;
}
 .mt-2rem {
     margin-top: 2rem;
}
 .tvCat a:focus, .tvCat a:hover {
     color: #a50008;
     text-decoration: none;
}
 .tvCat a {
     color: #a50008;
     font-weight: bold;
}
 .box-protokolle-dv a {
     color: gray;
}
 li {
     list-style: none;
}
 .product-row {
     margin-top: 1rem;
     margin-bottom: 1rem;
     x
}
 .boxmeetings-list ul {
     padding: 0px;
}
 .boxmeetings-list ul li {
     border-bottom: 1px solid gainsboro;
}
 .fights-result-color {
     width: 5px;
}
 .frc-blue {
     background: blue;
     color: blue;
}
 .frc-red {
     background: red;
     color: red;
}
 .frc-draw {
     background: gray;
     color: gray;
}
 .dokumente-kontent .dokumente {
     margin: 1rem 1rem
}
 .eboxing-information {
     margin: 1rem 1rem
}
 .Amateurkampfe-kontent table {
     margin: 1rem 1rem
}
 .offiziele table {
     margin: 1rem 1rem
}
 .rolename {
     float: left;
     width: 50%;
}
 .rolename-surlastname {
     float: right;
     width: 50%;
}
 .resutls-explain {
     font-size: 9px;
     text-align: center;
}
 .re-red {
     border-left: 11px solid #FF0000;
}
 .re-blue {
     border-left: 11px solid #0000FF;
}
 .re-gray-light {
     border-left: 11px solid #CCCCCC;
}
 .re-black {
     border-left: 11px solid #000000;
}
 .re-gray-dark {
     border-left: 11px solid #555555;
}
 .margin-none {
     margin: 0px;
}
 .margin-bottom-1rem {
     margin-bottom: 1rem;
}
 .margin-bottom-3rem {
     margin-bottom: 3rem;
}
 .margin-bottom-5rem {
     margin-bottom: 5rem;
}
 .form-cgs {
     border: 1px solid #CCCCCC;
     width: 300px;
     margin-left: auto;
     margin-right: auto;
     padding: 10px;
}
 .att-cgs-info {
     color: gray;
}
 .att-cbs-info {
     color: gray;
}
 .att-listen {
     color: gray;
}
 .att-crnt {
     color: gray;
}
 .boxer-suchen-form {
     border: 1px solid #CCCCCC;
     width: 400px;
     margin-left: auto;
     margin-right: auto;
     padding: 10px;
}
 .boxer-suchen-form td {
     padding: 1rem;
}
 .list-information-zur-rangierung ul li {
     list-style-type: disc;
}
 .eboxing_articles a {
     color: black
}
 .eboxing_articles a:hover {
     color: black
    /* font-weight: bold;
     */
}
 table.borderless td, table.borderless th {
     border: none !important;
}
 .tab-adressen {
     background: gray;
     color: white;
}
 .sub-menu-mobile {
     padding: 0px;
}
 .sub-menu-item-mobile {
     background: #a50008;
     position: relative;
     width: 100%;
     float: left;
}
 @media screen and (max-width: 768px) {
	 body{
		 padding-top: 3rem;
	 }
	 header{
		 position: fixed;
		 top: 0;
		 width: 100%;
	 }
     .footer-content {
         position: fixed;
         bottom: 0;
         width: 100%;
    }
}
 .right-align {
     text-align: right;
}
 .divider-cbresultate {
     width: 100%;
     margin-bottom: 1rem;
     background-color: #a50008;
     height: 10px;
}
 .formfortbuuldungsquiz {
     border: 1px solid black;
}
 .sub-menu-item ul li:hover {
     background-color: #f5f5f5;
}
 @media screen and (min-width: 768px) {
     .sub-menu-item:hover .sub-sub-menu {
         position: absolute;
         display: block!important;
         left: 16rem!important;
    }
}
