/*
Theme Name: Swiss Boxing
Author: IRTECH GmbH
Description: Swiss boxing theme
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags:Federation boxing , swiss ,swissboxing
Text Domain: swissboxing

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.
*/
html {
    margin-top: 0px !important;
}
.dropdown:hover .dropdown-menu{
  display: block!important;
}
